/* Only used in dev */
/* body {
  margin: 0;
  font: 14px/1.7 "Source Sans Pro", sans-serif;
} */

/**
* Om du sätter overflow: hidden på mount-div blir animationerna konstiga
*/

@media (max-width: 600px) {
  .ArkadSearch_InputField {
    flex-direction: column;
    align-items: center;
  }
  .ArkadSearch_InputField input {
    margin: 0 0 20px 0 !important;
    width: 100%;
  }
}

.ArkadSearch_Container {
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.ArkadSearch_InputField {
  display: flex;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.ArkadSearch_InputField input {
  flex-grow: 1;
  margin-right: 20px;
}

.ArkadSearch_InputField button {
  flex-grow: 0;
}

.ArkadSearch_Result {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  cursor: pointer;
}

.ArkadSearch_ResultHeader {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.ArkadSearch_ResultTitle {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
}

.ArkadSearch_ResultTime {
  flex-grow: 0;
  margin-left: 10px;
  font-size: 15px;
  font-style: italic;
}

.ArkadSearch_ResultInfo {
  flex-grow: 1;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ArkadSearch_Message {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.sweet-alert {
  box-sizing : border-box !important;
  max-height : 100% !important;
  overflow-y : auto !important;
  padding : 0 17px 17px !important;
  max-width : 100% !important;
}

.sweet-alert:before {
  content : "" !important;
  display : block !important;
  height : 17px !important;
  width : 0 !important;
}