/* Remove this */
body {
  margin: 0;
  font: 14px/1.7 "Source Sans Pro", sans-serif;
}

.ArkadSearch_Container {
}

.ArkadSearch_InputField {
  text-align: center;
}

.ArkadSearch_Result {
  /* border: 1px solid black; */
  margin: 20px 0px;
  padding: 10px 10px;
}

.ArkadSearch_ResultHeader {
  border-bottom: 1px solid black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ArkadSearch_ResultTitle {
  font-size: 30px;
}

.ArkadSearch_ResultTime {
  font-size: 15px;
  font-style: italic;
}